$div-color: #eee;
$body-font: 14px Georgia, serif; 

@import 'partials/_reset.scss';
@import 'partials/_move_sequence.scss';
@import 'partials/_table_color.scss';


@media screen and (max-width: 768px){
    body {
        background: #333;
    }
    #page-wrap {
        width: 548px;
    }
    #page-wrap:after {
        content: "Mobile layout";
    }
}

@media screen and (min-width: 768px){
    body {
        background: #999;
    }
    #page-wrap {
		display: flex;
		min-height: 100vh;
		flex-direction: column;
        width: 850px;
    }
    #page-wrap:after {
        content: "Desktop layout";
    }

	#middle {
		display: flex;
		flex: 1;
	}

    #main-content {
		flex: 1;
    }
    #sidebar-left {
		flex: 0 0 12em;
		margin-right: 5px;
		/* Order makes sure left sidebar is on the left */
		order: -1;
    }
}

//star-hack for old version of browsers
* { margin: 0; padding: 0; }

body {
    font: $body-font;
}

#page-wrap {
    margin: 40px auto;
    color: white;
}

//Another compatibility hack

#page-wrap >div {
    border: 1px solid #777;
    margin-bottom: 5px;
    color: black;
}

#header {
    font-weight: bold;
    font-size: 24px;
    height: 36px;
    background: $div-color;
}

#main-content {
    background: $div-color;
}

#sidebar-left { 
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
    }

    background: $div-color;
}

.tips {
    background: darken($div-color, 10%);
	box-shadow: 10px 10px 5px #888888;
}
