{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Editing component "{{ component_name }}"{% endblock %}
{% block header %}Editing component "{{ component_name }}"{% endblock %}
{% block content %}

<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js"%}"></script>
<script type="text/javascript" src="{% static "js/jquery.formset.js"%}"></script>
	Currently editing component "{{ component_name }}"

	<form id="edit-component" action="" method="post">
		{{ edit_form.as_p }}
		<table>
			{{ demo_vids.as_table }}
		</table>
		{{ demo_vids.management_form }}
		{{ tips_form.as_p }}
		{% csrf_token %}
		<input type="submit" value="submit">
	</form>

<script type="text/javascript">
    $(function() {
        $('#edit-component tbody tr').formset();
    })
</script>


{% endblock %}
