{% extends "base.html" %}

{% block title %}Component - {{ component.name }}{% endblock %}
{% block header %} Component: {{ component.name }}{% endblock %}
{% block content %}
This is the components detail page for {{ component.name }}


{% if nicknames %}
<br />
<br />
This component is also known by the following nicknames:
<ul class="nicknames">
    {% for nick in nicknames %}
    <li> {{ nick.nickname }} </li>
    {% endfor %}
</ul>
{% endif %}

<br />
{% with videos=video_demo.all %}
    {% if videos %}
        Video demonstration:
        {% for vid in videos %}
            <a href="{{ vid.URL }}"> click for demo </a>
        {% endfor %}
    {% else %}
        No video demonstrations found.
    {% endif %}
{% endwith %}

<br />
{% with videos=video_tutorial.all %}
    {% if videos %}
        Tutorial video:
        {% for vid in videos %}
            <a href="{{ vid.URL }}"> click for tutorial </a>
        {% endfor %}
    {% else %}
        No video tutorials found.
    {% endif %}
{% endwith %}

{% endblock %}
