{% extends "base.html" %}
{% load cycle from future %}
{% block title %}For developers{% endblock %}
{% block header %}For developers{% endblock %}
{% block content %}
One of the main goals of this project is to make footbag move information easily accessible to developers interested in developing footbag apps.

The footbag moves database is represented in the following json files:
<ul>
    <li><a href="{% url 'components-json'%}">Components</a></li>
    <li><a href="{% url 'moves-json'%}">Moves</a></li>
</ul>

If you are interested in other formats please do go in contact with us!

{% endblock %}
