{% extends "base.html" %}

{% block title %} Move - {{ move.name }}{% endblock %}
{% block header %} Move: {{ move.name }}{% endblock %}
{% block content %}
{{ move.name }} is comprised of the following components:
<br />
<ul class="footbag_sequence">
    {% for comp in sequence %}
    <li><a href="{% url "component_detail" comp.component.slug %}"> {{comp.component.name}}</a> </li>
    {% endfor %}
</ul>

<br />
<br />
{% with videos=video_demo.all %}
    {% if videos %}
        Video demonstration:
        {% for vid in videos %}
            <a href="{{ vid.URL }}"> click for demo </a>
        {% endfor %}
    {% else %}
        No video demonstrations found.
    {% endif %}
{% endwith %}

<br />
{% with videos=video_tutorial.all %}
    {% if videos %}
        Tutorial video:
        {% for vid in videos %}
            <a href="{{ vid.URL }}"> click for tutorial </a>
        {% endfor %}
    {% else %}
        No video tutorials found.
    {% endif %}
{% endwith %}
{% endblock %}
