{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Move - {{ move.name }}{% endblock %}
{% block header %} Move: {{ move.name }}{% endblock %}
{% block content %}
{{ move.name }} is comprised of the following components:
<br />
<ul class="footbag_sequence">
    {% for comp in sequence %}
    <li><a href="{% url "component_detail" comp.component.slug %}"> {{comp.component.name}}</a> </li>
    {% endfor %}
</ul>

<div id="player"></div>

<script src="{% static 'js/load_youtube.js' %}"></script>

<br />
<br />
<div class="demonstration_videos">
{% with videos=video_demo.all %}
    {% if videos %}
        Video demonstration:
        {% for vid in videos %}
            <a href="{{ vid.URL }}" class="demo_video_link"> click for demo </a>
        {% endfor %}
    {% else %}
        No video demonstrations found.
    {% endif %}
{% endwith %}
</div>

<br />
<div class="tutorial_videos">
{% with videos=video_tutorial.all %}
    {% if videos %}
        Tutorial video:
        {% for vid in videos %}
            <a href="{{ vid.URL }}" class="tutorial_video_link"> click for tutorial </a>
        {% endfor %}
    {% else %}
        No video tutorials found.
    {% endif %}
{% endwith %}
</div>
{% endblock %}
