{% extends "base.html" %}

{% block title %}Search{% endblock %}
{% block header %}Search the footbag database{% endblock %}
{% block content %}

Currently only searching for moves by nicknames is supported.
More complex searching functionality is coming soon!

{% if search_form.errors %}
<p style="color: red;">
    Please correct the error {{ search_form.errors|pluralize}} below.
</p>
{% endif %}

<form action="" method="post">
    <table>
        {{ search_form.as_table }}
    </table>
    {% csrf_token %}
    <input type="submit" value="Search">
</form>

{% if show_results %}
<br />
{{ results_info }}

<table>
    <tr class="row-top">
        <th> name </th>
        <th> breakdown <th>
    </tr>
    {% for move in results_list %}
    <tr class="{% cycle 'row-even' 'row-odd' %}">
        <td><a href="{% url "move_detail" move.slug %}"> {{ move.name }}</a></td>
        <td>move breakdown</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
