{% extends "base.html" %}

{% block title %}About the footbag database{% endblock %}
{% block header %}About this site{% endblock %}
{% block content %}

Footbag freestyle is a technically challenging sport.
Being able to find quality information when you need it is therefore
very important.
<br />
<br />
Until now if you didn't know the names of various moves it was hard to find
any information. With the development of the footbag DB you have better ways
to search for footbag related information.
<br />
<br />
By creating a database of footbag moves we are able to organize the information
relating to those moves a lot better. 
<br />
<br />
The code powering this site can be found over on the <a href="https://github.com/shuttle1987/footbag-db">github project page</a>.
This is open source code so do check it out if you are technially inclined, bug reports and patches are welcome!
<br />
<br />
This site is intended to be an educational resource much like wikipedia.
If you are looking for other footbag related information like nearby clubs and upcoming events
you could visit:
<a href="http://www.footbag.org">footbag.org</a>
If you are looking for a "social" site you could visit:
<a href="http://modified.in">modified footbag forum</a>
{% endblock %}
